<h1> <%=@tweet.content%> </h1>
<a href="/tweets/<%=@tweet.id%>/edit">Edit Tweet</a>

<form method=post action='/tweets'>
  <input type=submit value='Delete Tweet'>
  <input type=hiddden name='tweet_id' value=<%=@tweet.id%>>
  <input type=hidden name='_method' value=DELETE>
</form>