<h1>Create your new account</h1>
<form method=POST action='/signup'>
  <label for=username>Username</label>
  <input id=username name=username>

  <label for=email>Email</label>
  <input id=email name=email>

  <label for=password>Password</label>
  <input id=password name=password>

  <input type=submit value='Create Account'>
</form>